*.bak
*.log
.DS_Store
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

.env
**/*.auto.pkrvars.hcl
**/*_secret*

templates/ubuntu/*/packer/http/user-data
templates/windows/*/packer/unattend/autounattend.xml

manifests/

packer_cache/
.packer.d/
templates/**/.cache/
crash.log

output-*/